<html>

<head>
  <title>Controladoeres</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="listadetareas.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="listadetareas.js"></script>
</head>

<body ng-app="phyton-angular-gae">
  <h2>Lista de Tareas</h2>
  <div ng-controller="ControladorTareas">
    <span>{{restantes()}} de {{tareas.length}}</span>
    [ <a class="text-danger" href="" ng-click="eliminar()">eliminar</a> ]
    <ul class="unstyled">
      <li ng-repeat="tarea in tareas">
        <input type="checkbox" ng-model="tarea.hecho">
        <span class="hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
      </li>
    </ul>
    <form ng-submit="agregarTarea()">
      <input type="texto" size="30" placeholder="Agregar una nueva tarea" ng-model="textoNuevaTarea">
      <button class="btn btn-primary" type="submit">Agregar</button>
    </form>
  </div>
</body>
</html>
