<!-- Main -->
<div id="main">
  <div class="container">
    <header>
      <h2>Noticias</h2>
    </header>
    <div class="row">
      <div class="3u">
        <section>
          <a href="#" class="image full"><img src="noticia1.png" alt="" /></a>
          <p>Web del Pacto(Anime y Manga) en Desarrollo. Añadidas primeras paginas.</p>
          <a href="#" class="button">Read More</a>
        </section>
      </div>
      <div class="3u">
        <section>
          <a href="#" class="image full"><img src="noticia2.png" alt="" /></a>
          <p>Proyecto disponible en GitHub. Se aceptan colaboradores</p>
          <br> 
          <a href="#" class="button">Read More</a>
        </section>
      </div>
      <div class="3u">
        <section>
          <a href="#" class="image full"><img src="pics12.jpg" alt="" /></a>
          <p>Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.</p>
          <a href="#" class="button">Read More</a>
        </section>
      </div>
      <div class="3u">
        <section>
          <a href="#" class="image full"><img src="pics13.jpg" alt="" /></a>
          <p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
          <a href="#" class="button">Read More</a>
        </section>
      </div>
    </div>
  </div>
</div>
