<!-- Main -->
<div id="main">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div id="sidebar" class="4u">
        <section>
          <header>
            <p><img ng-src="{{serie.poster}}" class="thumbnail image full"></p>
          </header>
          <div class="panel panel-left" >
            <ul class="byline">
              <li><a ng-click="addtoList()">Añadir a la lista</a></li>
              <li><a>Añadir a favoritos </a></li>
            </ul>
          </div>
          <header>
            <h2>Information</h2>
          </header>
          <div class="panel panel-left" >
            <ul class="default">
              <li><span><strong>Type: </strong>{{serie.typel}}</span></li>
              <li><span><strong>Episodes: </strong>{{serie.episodes}} </span></li>
              <li><span><strong>Aired: </strong>{{serie.air}}</span></li>
              <li><span><strong>Genres: </strong>{{serie.status}}</span></li>
            </ul>
          </div>
        </section>
      </div>
      <!-- Sidebar -->

      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section >
          <article class="row">
            <header>
              <h2>{{serie.title}}</h2>
              <span class="byline">Praesent lacus at urna congue rutrum</span>
            </header>
            <p>{{serie.plot}}</p>
          </article>
          <hr/>
        </section>
      </div>
      <!-- /Content -->


    </div>

  </div>
</div>
<!-- Main -->
