<!--Comentarios-->
<div id="main">
	<div class="container">
		<header>
	<h2>Novedades</h2>
</header>
		<!--Recomendación de series-->
		<div ng-repeat="serie in series" class="row">
			<section class="col-xs-8 col-md-offset-2">
				<article class="row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<a href="#/ficha/{{serie.id}}" class="thumbnail"><img ng-src="{{serie.Poster}}" /></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-8 excerpet thumbnail">
							<h4>{{serie.Title}}</h4>
							<h6>{{serie.Type}}</h6>
							<p>{{serie.Plot}}</p>
					</div>
				</article>
				<hr/>
			</section>
		</div>
		<br/>
	</div>
</div>
