<!-- Main -->
<div id="main">
  <div class="container">
    <div class="row">

      <!-- Sidebar -->
      <div id="sidebar" class="4u">
        <section>
          <header>
            <p><img src="{{serie.Poster}}" class="thumbnail image full"></p>
          </header>
          <div class="panel panel-left" >
            <ul class="byline">
              <li><a>Añadir a la lista</a></li>
              <li><a>Añadir a favoritos </a></li>
            </ul>
          </div>
          <header>
            <h2>Information</h2>
          </header>
          <div class="panel panel-left" >
            <ul class="default">
              <li><span><strong>Type: </strong>{{serie.Typel}}</span></li>
              <li><span><strong>Episodes: </strong>Unknown </span></li>
              <li><span><strong>Aired: </strong>Apr 8, 2015 to ?</span></li>
              <li><span><strong>Producers: </strong> TV Tokyo, Aniplex, Dentsu, Bandai Namco Pictures</span></li>
              <li><span><strong>Genres: </strong>Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen</span></li>
              <li><span><strong>Duration: </strong>24 min. per episode</span></li>
              <li><span><strong>Rating: </strong>PG-13 - Teens 13 or older</span></li>
            </ul>
          </div>
        </section>
      </div>
      <!-- Sidebar -->

      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section >
          <article class="row">
            <header>
              <h2>{{serie.Title}}</h2>
              <span class="byline">Praesent lacus at urna congue rutrum</span>
            </header>
            <p>{{serie.Plot}}</p>
          </article>
          <hr/>
        </section>
      </div>
      <!-- /Content -->


    </div>

  </div>
</div>
<!-- Main -->
