<!-- Cambiar información usuario -->
<div class="panel panel-default col-xs-6 col-md-offset-3">
	<h2>Cambiar información</h2>
	<form role="form" action="" method="">
		<div class="form-horizontal">
			<h4>Dirección</h4>
			<div class="input-group" style="margin-bottom:10px">						
				<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
				<input type="text" class="form-control" placeholder="Dirección" id="direccion">		
			</div>
			<h4>Email</h4>
			<div class="input-group" style="margin-bottom:10px">						
				<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
				<input type="text" class="form-control" placeholder="Email" id="email">		
			</div>
			<h4>Contraseña Nueva</h4>
			<div class="input-group" style="margin-bottom: 10px">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Contraseña" id="pass">		
			</div>
			<div class="input-group" style="margin-bottom: 10px">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Repita su contraseña" id="repass">		
			</div>
			<h4>Contraseña Original</h4>
			<div class="input-group" style="margin-bottom: 10px">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Contraseña original" id="repass">		
			</div>
			<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px">Modificar</button>
		</div>
	</form>
</div>
