<!-- Main -->
  <div id="main">
    <div class="container">
      <div class="row">

        <!-- Sidebar -->
          <div id="sidebar" class="3u">
            <section>
              <header>
                <h2>Gravida praesent</h2>
                <span class="byline">Praesent lacus congue rutrum</span>
              </header>
              <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.</p>
              <ul class="default">
                <li><a href="#">Pellentesque quis lectus</a></li>
                <li><a href="#">Lorem ipsum adipiscing elit</a></li>
                <li><a href="#">Phasellus pellentesque congue</a></li>
                <li><a href="#">Cras aliquam risus pharetra</a></li>
                <li><a href="#">Duis metus euismod lobortis</a></li>
              </ul>
            </section>
          </div>
        <!-- Sidebar -->

        <!-- Content -->
          <div id="content" class="6u skel-cell-important">
            <section>
              <header>
                <h2>{{serie.Title}}</h2>
                <span class="byline">Praesent lacus at urna congue rutrum</span>
              </header>
              <p><a href="#" class="image full"><img src="{{serie.Poster}}" alt=""></a></p>
              <p>{{serie.Plot}}</p>
            </section>
          </div>
        <!-- /Content -->

        <!-- Sidebar -->
          <div id="sidebar" class="3u">
            <section>
              <header>
                <h2>Gravida praesent</h2>
                <span class="byline">Praesent lacus congue rutrum</span>
              </header>
              <p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.</p>
              <ul class="default">
                <li><a href="#">Pellentesque quis lectus</a></li>
                <li><a href="#">Lorem ipsum adipiscing elit</a></li>
                <li><a href="#">Phasellus pellentesque congue</a></li>
                <li><a href="#">Cras aliquam risus pharetra</a></li>
                <li><a href="#">Duis metus euismod lobortis</a></li>
              </ul>
            </section>
          </div>
        <!-- Sidebar -->

      </div>

    </div>
  </div>
<!-- Main -->
