<h2>Invite another guest</h2>
<form ng-submit="submitInsert()">
  <p>
    <label>ID:</label>
    <input type="number" ng-model="serieid" autofocus="true" />
  </p>
  <p>
    <label>Title:</label>
    <input type="text" ng-model="titlea" autofocus="true" />
  </p>
  <p>
    <label>Poster:</label>
    <input type="text"  ng-model="poster" />
  </p>
  <p>
    <label>Type:</label>
    <input type="text"  ng-model="typel" />
  </p>
  <p>
    <label>Plot:</label>
    <input type="text"  ng-model="plot" />
  </p>
  <input type="submit" class="btn" />
</form>
